
* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

body {
    background-color: #FDFDFD;
    background: url("../img/background.jpg");
}

h5 {
    color: #767272;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.container div {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.titulo-principal {
    font-size: 64px;
}

a {
    text-decoration: none;
    color: #B2AEAE;
}

a:hover {
    text-decoration: none;
    color:#534f4f;
}

.titulo-pagina {
    color: #767272;
}

/* Nav - Bar */

.container-nav {
    display: grid;
    column-gap: 10px;
    grid-template-rows: minmax(70px,auto);
    grid-template-columns: 4fr 5fr;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.col-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 25px;
}

#logo-reciclaje {
    margin-left: 20px;
    margin-top: 8px;
    width: 57px;
    height: 57px;
}

#lata-reciclaje {
    margin-top: 8px;
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

#plastico-reciclaje {
    margin-top: 8px;
    width: 120px;
    height: 120px;
}

/* Home */

.container-home {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 4fr 2fr;
}

.row-home-text {
    display: grid;
    grid-template-rows: 50% 50%; 
    gap: 25px;
}

.col-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.col-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 25px;
}

.box-info {
    grid-column: 2;
}

.box-info-btn {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.btn-home-ver-mas {
    width: 93px;
    height: 35px;
    text-decoration: none;
    background-color: #9AB9CA;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
}

.btn-elem-ver-mas {
    width: 83px;
    height: 25px;
    text-decoration: none;
    background-color: #9AB9CA;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
}

/* Form-Ciudadano */

.container-form-ciudadano {
    display: grid;
    column-gap: 10px;
    grid-template-rows: 34px 1600px 30px;
    grid-template-columns: 1fr 6fr 1fr;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-form-ciudadano {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: grey;
    border-radius: 10px;
}



/* Postulaciones */

.container-postulaciones {
    display: grid;
    column-gap: 10px;
    grid-template-rows: 34px 600px 30px;
    grid-template-columns: 1fr 6fr 1fr;
}

.row-plantilla {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 45px;
    row-gap: 10px;
    grid-template-rows: 50px 500px 60px;
    grid-template-columns: 1px 1fr 1px;
    border: 2px solid rgba(227, 237, 230, 0.55);
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}

.row-postulaciones {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 65px;
    row-gap: 10px;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 20px 8fr 8fr 20px;
    overflow-y: scroll;  
}

.box-elem-titulo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-postulaciones > .box-elem1{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem2{
    grid-column-start: 3;
    grid-column-end: 4;
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem3{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem4{
    grid-column-start: 3;
    grid-column-end: 4;
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem5{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem6{
    grid-column-start: 3;
    grid-column-end: 4;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem7{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.row-postulaciones > .box-elem8{
    grid-column-start: 3;
    grid-column-end: 4;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.box-elem-boton{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.box-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    display: grid;
    grid-template-rows: 200px 30px;
}

.box-btn {
    display: flex;
    justify-content: center;
}

.btn-elem-postularse {    
    width: 119px;
    height: 27px;
    text-decoration: none;
    background-color: #9ACAA7;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;   
}


/* Form Postularse */

.row-form-postularse {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 65px;
    row-gap: 4px;
    grid-template-rows: 42px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 100px;
    grid-template-columns: 200px 1fr 200px;
}

.btn-elem-publicar-aviso {
    width: 340px;
    height: 33px;
    text-decoration: none;
    background-color: #9ACAA7;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    font-size: 14px;   
    color: white;
}

.texto-form {
    width: 380px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    border: 2px solid rgba(227, 237, 230, 0.55);
}

.row-form-post {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.row-form-direccion-img {
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

#mapa-centro-acopio{
    width: 75%; 
}

.row-form-post-text {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 30px;
}

.descripcion {
    margin-left: 30px;
}

.titulo {
    margin-left: 30px;
}

.btn-add-img {
    background-color: #9AB9CA;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    background: #9AB9CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.row-input-detalles {
    height: 100%;
}

.select-form {
    width: 340px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    border: 2px solid rgba(227, 237, 230, 0.55);
}

/* Form Cargar Pedido */ 

.row-plantilla-cargar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 45px;
    row-gap: 10px;
    grid-template-rows: 50px 500px 60px;
    grid-template-columns: 1px 1fr 1px;
    border: 2px solid rgba(227, 237, 230, 0.55);
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}

.row-form-cargar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 65px;
    row-gap: 4px;
    grid-template-columns: 200px 1fr 200px;
    overflow-y: scroll;  
}
.mensaje{
    margin-top: 20px;
}  

.mensaje h5{
    color: red;
}

/* Lista Pedidos */

.row-lista-pedidos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 45px;
    row-gap: 10px;
    grid-template-rows: 50px 520px 40px;
    grid-template-columns: 1px 1fr 1px;
    border: 2px solid rgba(227, 237, 230, 0.55);
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}

.row-lista {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.tabla-pedidos {
    border: 2px solid rgba(227, 237, 230, 0.55);
    border-radius: 10px; 
    box-sizing: border-box;
}

/* Admin Materiales*/ 

.btn-admin-agregar {
    width: 140px;
    height: 33px;
    text-decoration: none;
    background-color: #9ACAA7;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;   
    color: white;
}

.btn-admin-borrar {
    width: 45px;
    height: 33px;
    text-decoration: none;
    background-color: #b43929;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;   
    color: white;    
}

.btn-admin-editar {
    width: 45px;
    height: 33px;
    text-decoration: none;
    background-color: #9ACAA7;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    text-decoration: none;
    outline: none;
    font-size: 14px;   
    color: white;
}

/* Add Material*/

.row-form-add {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 65px;
    row-gap: 4px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 120px;
    overflow-y: scroll;  
}

.row-add {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Form Login*/
.row-plantilla-login {
    grid-column-end: 3;
    grid-row-start: 2;
    background-color: #FDFDFD;
    display: grid;
    column-gap: 45px;
    grid-template-columns: 1px 1fr 1px;
    border: 2px solid rgba(227, 237, 230, 0.55);
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}

.row-form-login {
    grid-column-start: 2;
    display: grid;
    column-gap: 45px;
    row-gap: 10px;
    grid-template-columns: 250px 1fr 250px;
}

.row-inputs-texto {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 2px;
}

.row-form-login-label {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lista de Cartoneros*/

.row-lista-cartoneros {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FDFDFD;
    border-radius: 10px;
    display: grid;
    column-gap: 25px;
    row-gap: 4px;
    grid-template-columns: 5px 1fr 5px;
    overflow-y: scroll;  
}

.tabla-cartoneros {
    grid-column-start: 2;
    grid-column-end: 3;
}

.btn-lista-cartoneros-editar {
    width: 85px;
    height: 22px;
    text-decoration: none;
    background-color: #9AB9CA;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    font-size: 12px;  
}

.btn-lista-cartoneros {
    width: 95px;
    height: 22px;
    text-decoration: none;
    background-color: #E86161;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    font-size: 12px;  
}

.btn-lista-cartoneros-ver-materiales {
    width: 105px;
    height: 22px;
    text-decoration: none;
    background-color: #f0cc50;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    font-size: 12px;  
}